# Source FHIR Server Configuration
SOURCE_URL=https://your-source-fhir-server.com/fhir
# Valid values: KEYCLOAK, BEARER, BASIC
SOURCE_AUTH_TYPE=
SOURCE_USERNAME=
SOURCE_PASSWORD=
SOURCE_BEARERTOKEN=
SOURCE_ENABLE_SSL=true

# Source Keycloak Configuration
SOURCE_KEYCLOAK_TOKEN_URL=https://your-keycloak-server.com/auth/realms/your-realm/protocol/openid-connect/token
SOURCE_KEYCLOAK_CLIENT_ID=your-client-id
SOURCE_KEYCLOAK_CLIENT_SECRET=your-client-secret

# Target FHIR Server Configuration
TARGET_URL=https://your-target-fhir-server.com/fhir
# Valid values: KEYCLOAK, BEARER, BASIC
TARGET_AUTH_TYPE=
TARGET_USERNAME=your-username
TARGET_PASSWORD=your-password
TARGET_BEARERTOKEN=
TARGET_ENABLE_SSL=true

# Target Keycloak Configuration
TARGET_KEYCLOAK_TOKEN_URL=
TARGET_KEYCLOAK_CLIENT_ID=
TARGET_KEYCLOAK_CLIENT_SECRET=

# Other Configuration
PROFILE=none
DISABLE_SSL=false
FILE_EXPORT_PATH=
